body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ccc;
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


.cardsWrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 360px;
}

.card_box {
    background-color: #fff;
    padding: 0px 20px 150px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;

    box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 20%);
    border-radius: 5px;
}

.card_boxH {
    font-size: 20px;
    line-height: 150%;

    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #e3e0e0;
}
.card_boxH span {
    font-weight: 100;
}

.card_boxPrice {
    font-size: 26px;
    color: #357db8;
    font-weight: bold;
    margin-top: -60px;
}


.specialOffer {
    width: 360px;
    height: 110px;
    margin-top: -40px;
    background-color: #e6e6e6;
}

.yellowOfferH {
    font-size: 26px;
    margin-top: -10px;
    position: relative;
    z-index: 1000;
}

.yellowbg {
    width: 250px;
    height: 45px;
    background-color: #fff505;
    margin-top: -63px;
    margin-left: 50px;
    border-radius: 5px;
}

.oportunityP {
    font-size: 12px;
    line-height: 150%;
}

.specialOfferW {
    width: 360px;
    height: 110px;
    margin-top: -40px;
    background-color: #fff;
}

.yellowOfferHW {
    font-size: 26px;
    margin-top: -10px;
    position: relative;
    z-index: 1000;
    color: #fff;
}

.yellowbgW {
    width: 250px;
    height: 45px;
    background-color: #fff;
    margin-top: -63px;
    margin-left: 50px;
    border-radius: 5px;
}

.oportunityPW {
    font-size: 12px;
    line-height: 150%;
    color: #fff;
}

/* ...... */


.card_boxList {
    text-align: left;
    line-height: 150%;

    font-size: 16px;
    margin-top: -10px;
}

.card_boxList span {
    color: #c2c2c2;
    text-decoration: line-through;
}




/* btn */
html{
    scroll-behavior: smooth;
}

.linkT {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 55px;
}

.chosenPlan {
    display: block;
    width: 360px;
    height: 60px;
    background-image: linear-gradient(156deg, rgba(255,247,5,1) 0%, rgba(255,253,133,1) 51%, rgba(255,247,5,1) 96%);;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 22px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;

    box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 20%);
    border-radius: 10px;
  }

.chosenPlan:hover {
    background-image: linear-gradient(156deg, rgba(255, 247, 5, 0.44) 0%, rgba(255, 253, 133, 0.631) 51%, rgba(255, 247, 5, 0.379) 96%);
    transition: all 1s ease-out;
}